<!DOCTYPE html>
<html>
<head>
  <!-- Title for the Login Page -->
  <title>ClassSpace - Login</title>
  
  <!-- CSS from Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Custom styles for the Login Page -->
  <style>
    /* Set background color to dark blue */
    body {
      background-color: #003366;
    }
    
    /* Change text color to white */
    .text-primary {
      color: #ffffff !important;
    }
    
    /* Customize the look of the submit button */
    .btn-primary {
      background-color: blue !important;
      border-color: blue !important;
      color: #ffffff !important;
    }




  </style>
</head>
<body>
  <!-- Kevin Cordray: created the ClassSpace logo -->
  <!-- Container for the sign up Form -->
  <div class="container mt-5">
    <!-- Heading for the Login Page -->
    <h1 class="text-center text-primary"><img src="/static/images/ClassSpaceLogo_232x100.png" alt="ClassSpace"></h1>
    <h2 class="text-center mb-4 text-primary">Sign Up</h2>

  <!-- Kenny: add functionality to forms, and linking -->
  <!-- Kevin Cordray: created the html format -->
  <!-- Row for the Signup Form -->
    {% if emailExist %}
    <div class="alert alert-danger" role="alert">
    {{emailExist}}
    </div>
    {% endif %}
  <div class="row justify-content-center">
    <div class="col-6">
      <!-- Signup Form -->
      <form action="/signup" method="POST"> 
        <!-- Form Group for the username input -->
        <div class="form-group">
          <!-- Label for the username input -->
          <label for="username" class="text-primary">Username:</label>
          <!-- Input for the username -->
          <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="form-group">
          <!-- Label for the email input -->
          <label for="email" class="text-primary">Email:</label>
          <!-- Input for the email -->
          <input type="text" class="form-control" id="email" name="email">
        </div>
        
        <!-- Form Group for the password input -->
        <div class="form-group">
          <!-- Label for the password input -->
          <label for="password" class="text-primary">Password:</label>
          <!-- Input for the password -->
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <!-- Form Group for the confirm password input -->
        <div class="form-group">
           <!-- Label for the confirm password input -->
          <label for="confirm" class="text-primary">Confirm Password:</label>
          <!-- Input for the confirm password -->
        <input type="password" class="form-control" id="confirm" name="confirm">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
      
      <!-- Link to the Sign Up Page -->
      <p class="text-center mt-3 text-primary">Already have an account? <a href="{{ url_for('login') }}"  class="text-primary">Log In</a></p>
    </div>
  </div>
</div>
</body>
</html>
