<!DOCTYPE html>
  <head>
    <title> ClassSpace Homepage </title>
    <link rel="stylesheet" href="style.css"> <!-- This is to reference and use the styling from                                                     the style.css file -->
  </head>
  <body>
      <nav> <!-- This is for the navigation bar -->
        <a href="#"> Home </a>      <!-- These are the categories in the navigation bar -->
        <a href="#"> Schools </a>
        <a href="#"> Professors </a>
        <a href="#"> Courses </a>
        <input type ="text" placeholder="Search...">   <!-- This is the search bar -->
      </nav>

  </body>